canvas{
    border: 10px #cfcfcf solid;
    
}
#controls{
    height: 20vh;
    width: 97%;
    border: 10px #cfcfcf solid;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    }
.tools{
    width: 100px;
    height: 100px;
}
#colorsh{
    background-color: black; 
    margin: 10px;
    border-radius: 50%;
    display: fixed;
    position: absolute;
    z-index: 10;
    right: 15px;
    top: 15px;
}

body{
    overflow: hidden;
    text-align: center;
}
.color-parent {
    display: grid;
    width: 30vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    align-self: right;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; background-color:#FF355E ;}
    .div2 { grid-area: 1 / 2 / 2 / 3; background-color: #FD5B78 ;}
    .div3 { grid-area: 1 / 3 / 2 / 4; background-color: #FF6037 ;}
    .div4 { grid-area: 2 / 1 / 3 / 2; background-color: #FF9966;}
    .div5 { grid-area: 2 / 2 / 3 / 3; background-color: #FF9933 ;}
    .div6 { grid-area: 2 / 3 / 3 / 4; background-color: #FFCC33;}
    .div7 { grid-area: 1 / 4 / 2 / 5; background-color: #FFFF66;}
    .div8 { grid-area: 2 / 4 / 3 / 5; background-color: #FFFF66;}
    .div9 { grid-area: 1 / 5 / 2 / 6; background-color: #CCFF00 ;}
    .div10 { grid-area: 2 / 5 / 3 / 6;background-color: #66FF66; }
    .div11 { grid-area: 1 / 6 / 2 / 7;background-color: #AAF0D1; }
    .div12 { grid-area: 1 / 7 / 2 / 8;background-color: #50BFE6; }
    .div13 { grid-area: 1 / 8 / 2 / 9;background-color: #FF6EFF; }
    .div14 { grid-area: 2 / 6 / 3 / 7;background-color: #EE34D2; }
    .div15 { grid-area: 2 / 7 / 3 / 8;background-color: #FF00CC; }
    .div16 { grid-area: 2 / 8 / 3 / 9;background-color: #FF00CC; } 

